---
- name: Install gpg (update apt cache first)
  apt:
    name: gpg
    cache_valid_time: 3000
    state: latest
  tags: [influxdb]

- name: Install gpg-agent (update apt cache first)
  apt:
    name: gpg-agent
    cache_valid_time: 3000
    state: latest
  tags: [influxdb]

- name: Install logrotate
  apt:
    name: logrotate
    cache_valid_time: 3000
    state: latest
  tags: [influxdb]

- name: Install system dependencies
  apt:
    name:
      - rsyslog
      - curl
    cache_valid_time: 3000
    state: latest
  tags: [influxdb]

- name: Add InfluxData key
  get_url:
    url: https://repos.influxdata.com/influxdata-archive.key
    dest: /tmp/influxdata-key-ascii
    checksum: sha256:943666881a1b8d9b849b74caebf02d3465d6beb716510d86a39f6c8e8dac7515
    mode: "0644"
  retries: 5
  delay: 10
  register: result
  until: result is success
  tags: [influxdb]

- name: Convert key to binary format
  shell: gpg --dearmor < /tmp/influxdata-key-ascii > /usr/share/keyrings/influxdata-archive.gpg
  args:
    creates: /usr/share/keyrings/influxdata-archive.gpg
  when: not influxdb_binary_key.stat.exists
  tags: [influxdb]

- name: Add InfluxData repository
  apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/influxdata-archive.gpg] https://repos.influxdata.com/debian stable main"
    filename: influxdata
    state: present
  tags: [influxdb]

- name: Install influxdb (update apt cache first)
  apt:
    name: influxdb
    state: latest
  notify: restart influxdb
  tags: [influxdb]

- name: Set influxdb HTTP IP and port
  lineinfile:
    path: /etc/influxdb/influxdb.conf
    regexp: '^  # bind-address = ":8086"'
    line: '  bind-address = "{{ influxdb_http_ip }}:{{ influxdb_http_port }}"'
    backrefs: true
  when: influxdb_http_ip != 'localhost' or influxdb_http_port != 8086
  notify: restart influxdb
  tags: [influxdb]

- name: Disable HTTP query logging for influxdb
  block:
    - lineinfile:
        path: /etc/influxdb/influxdb.conf
        line: "  log-enabled = false"
        insertafter: '\[http\]'
        state: present
    - lineinfile:
        path: /etc/influxdb/influxdb.conf
        line: "  query-log-enabled = false"
        insertafter: '\[data\]'
        state: present
  when: not influxdb_query_logging
  tags: [influxdb]

- name: Enable HTTP query logging for influxdb
  block:
    - lineinfile:
        path: /etc/influxdb/influxdb.conf
        line: "  log-enabled = false"
        insertafter: '\[http\]'
        state: absent
    - lineinfile:
        path: /etc/influxdb/influxdb.conf
        line: "  query-log-enabled = false"
        insertafter: '\[data\]'
        state: absent
  when: influxdb_query_logging
  tags: [influxdb]

- name: Set the index-version for influxdb
  lineinfile:
    path: /etc/influxdb/influxdb.conf
    insertafter: '  # index-version = "inmem"'
    line: '  index-version = "{{ influxdb_index_version }}"'
    search_string: "  index-version ="
  notify: restart influxdb
  tags: [influxdb]

- name: Set maxsize of rsyslog logrotate configuration
  block:
    - lineinfile:
        path: /etc/logrotate.d/rsyslog
        firstmatch: false
        line: "        maxsize 65M"
        insertafter: '\{'
    - lineinfile:
        path: /etc/logrotate.d/rsyslog
        firstmatch: true
        line: "        maxsize 65M"
        insertafter: '\{'
  tags: [influxdb]

- name: Set influxdb dir permissions
  file:
    path: /var/lib/influxdb
    state: directory
    owner: influxdb
    group: influxdb
    recurse: true
  tags: [influxdb]

- name: ensure influxdb is started and enabled
  service:
    name: influxdb
    state: started
    enabled: true
  tags: [influxdb]

- import_tasks: authentication.yml
  tags: [influxdb]

- import_tasks: udp_mode.yml
  when: influxdb_udp_mode
  tags: [influxdb]
